@font-face {
  font-family: pixel;
  src: url('pixel.ttf');
}

html,
body {
  margin: 0;
  height: 100%;
  background: radial-gradient(#1c281c, #000);
}

* {
  box-sizing: border-box;
}

.world {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 5vmin;
  box-sizing: border-box;
}

.handheld {
  height: min(90vmin); /* ← width-only anchor, height follows */
  display: flex;
  flex-direction: column;
  border-radius: 1vmin 1vmin 2.5vmin 2.5vmin;
  background-color: #0f0;
  aspect-ratio: 3 / 5;

  border: ridge #0f0;
  border-style: inset;
  box-shadow:
    0 4px 10px -3px rgba(255, 255, 255, 0.1),
    0 2px 4px -2px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.top {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  border-radius: 0.75vmin;
  margin: 1.75vmin;
  padding: 6vmin;
  padding-top: 2.5vmin;
}

#screen {
  image-rendering: pixelated;
  display: flex;
  border-radius: 0.125vmin;
  overflow: hidden;
  border: ridge #4f4f4f;
  width: 100%; /* fill the .top container */
}

#screen canvas {
  aspect-ratio: 10 / 9;
  width: 100%; /* ← this is what makes canvas actually resize */
  height: auto;
  display: block;
}

.center {
  display: flex;
  gap: 1vmin;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 4vmin 2vmin;
}

.dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpad button {
  width: 4.5vmin;
  height: 4.5vmin;
  background: #2e2e2e;
  border-radius: 3px;
  cursor: pointer;
  border: ridge #5a5a5a;
  color: black;
  font-family: monospace;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 2.5vmin;
  touch-action: none;
  user-select: none;
}

.dpad > div {
  display: flex;
  gap: 4.25vmin;
  background: #2e2e2e;
  border-radius: 3px;
}

.ab {
  display: flex;
  gap: 1.5vmin;
}

.ab button {
  width: 6vmin;
  height: 6vmin;
  background: #2e2e2e;
  border-radius: 100%;
  cursor: pointer;
  border: ridge #5a5a5a;
  color: black;
  font-weight: 700;
  font-size: 3vmin;
  touch-action: none;
  user-select: none;
}

.ab button:first-of-type {
  margin-top: 1.75vmin;
}

.bottom {
  padding-top: 2vmin;
  display: flex;
  justify-content: center;
  flex-basis: 25%;
}

.startselect {
  display: flex;
  gap: 2vmin;
}

.startselect button {
  width: 7vmin;
  height: 3vmin;
  background: #2e2e2e;
  border-radius: 3px;
  cursor: pointer;
  border: ridge #5a5a5a;
  color: black;
  font-size: 1.5vmin;
}
